* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.App-title {
	font-size: 1.75rem;
	margin: 0;
	padding: 1rem;
}

.Container {
	border-radius: 0.5rem;
	margin: 1rem auto;
	padding: 0;
	width: 500px;
}

.Container--bg-gray {
	background-color: rgb(200, 200, 200);
}

.Form {
	width: 100%;
}

.Form-submit {
	background-color: rgb(200, 200, 200);
	border: none;
	padding: 0.5rem;
}

.Form-text {
	padding: 0.25rem;
}

.List {
	align-content: flex-start;
	align-items: center;
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
}

.List-element {
	background-color: rgb(200, 200, 200);
	border-radius: 0.25rem;
	margin: 0.25rem;
	padding: 0.5rem;
}

.List-element::first-child {
	margin-left: 0;
}

.List-element::last-child {
	margin-right: 0;
}